__pycache__/
*.py[cod]
*$py.class

.pytest_cache/

.mypy_cache/

.pyright/

ruff_cache/

.vscode/
*.code-workspace

.env/
.venv/
env/
venv/

poetry.lock.*

build/
dist/
*.egg-info/
.eggs/

*.log

.DS_Store
Thumbs.db

.idea/
*.iml

.coverage
htmlcov/
coverage.xml

report/

.ipynb_checkpoints/
*.ipynb

*.swp
*.swo

__pypackages__/
